.App {
  text-align: center;
}

.door {
  height: 40vmin;
  display: flex;
  cursor: pointer;
}

.doorThing{
  width: 70%;
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin-left: 350px;
}

.space{
  width: 50%;
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin-left: 500px;
  margin-top:200px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
